<h1>通知一覧</h1>
<%= link_to notifications_destroy_all_path, method: :delete do %>
  <h7 style="color: black;">全削除</h7>
<% end %>

<div class="common-contents">
  <div class="informations">
    <% if @notifications.exists? %>
    <ul class="allnotifications-list">
      <%= render "notifications/notifications", notifications: @notifications %>
    </ul>
    <% else %>
      <p class="allnotifications-no">通知はありません</p>
    <% end %>
  </div>
</div>