<div class="container-md">
  <div class="row">
    <div class="col-md-3">
      <h3 class="bg-light text-dark text-center">通知一覧</h3>
    </div>
    <div class="col-md-8"></div>
    <div class="col-md-1">
      <%= link_to notifications_destroy_all_path, method: :delete do %>
        <h6 style="color: black;">全削除</h6>
      <% end %>
    </div>
  </div>
</div>

<br>

<div class="container-md">
  <div class="row">
    <% if @notifications.exists? %>
      <div class="col-md-1"></div>
      <table class="col-md-10 table-bordered mb-3">
        <tbody>
          <%= render "notifications/notifications", notifications: @notifications %>
        </tbody>
      </table>
      <div class="col-md-1"></div>
    <% else %>
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <h4>通知はありません</h4>
      </div>
    <% end %>
  </div>
</div>