<div class="container-md">

  <div class="row">
    <div class="col-md-12 d-flex align-items-center justify-content-center" style="height:250px;">
        ASOBILinkへようこそ</br>
        ここではやってみたかったあの遊びが</br>
        他の誰かもやりたいと投稿しているかもしれません。</br>
        下記アイコンから各ページに行ってみよう！
    </div>
  </div>

  <div class="row">
    <div class="col-md-2" style="height:130px;">
      <%= link_to "", asobis_path, class: "fas fa-dice fa-5x" %>
      <p>遊びを探す</p>
    </div>
    <div class="col-md-2" style="height:130px;">
      <a class="fas fa-hand-paper fa-5x" href="/"></a><br>
      <p>参加希望</p>
    </div>
    <div class="col-md-2" style="height:130px;">
      <a class="fas fa-plus-square fa-5x" href="/"></a><br>
      <p>投稿</p>
    </div>
    <div class="col-md-2" style="height:130px;">
      <a class="fas fa-sign-in-alt fa-5x" href="/members/sign_in"></a><br>
      <p>ログイン</p>
    </div>
    <div class="col-md-2" style="height:130px;">
      <a class="fas fa-address-card fa-5x" href="/"></a><br>
      <p>登録情報更新</p>
    </div>
  </div>

</div>