<div class="container-md">

  <div class="row">
    <div class="col-md-12 d-flex align-items-center justify-content-center" style="height:250px;">
        ASOBILinkへようこそ</br>
        ここではやってみたかったあの遊びが</br>
        他の誰かもやりたいと投稿しているかもしれません。</br>
        下記アイコンから各ページに行ってみよう！
    </div>
  </div>

<% if member_signed_in? %>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2" style="height:130px;">
      <%= link_to "", asobis_path, class: "fas fa-dice fa-5x" %>
      <p>遊びを探す</p>
    </div>
    <div class="col-md-2" style="height:130px;">
      <%= link_to "", notifications_path, class: "fas fa-hand-paper fa-5x" %>
      <p>通知</p>
    </div>
    <div class="col-md-2" style="height:130px;">
      <a class="fas fa-plus-square fa-5x" href="/"></a><br>
      <p>投稿</p>
    </div>
    <div class="col-md-2" style="height:130px;">
      <a class="fas fa-sign-in-alt fa-5x" href="/members/sign_in"></a><br>
      <p>ログイン</p>
    </div>
    <div class="col-md-2" style="height:130px;">
      <%= link_to "", customers_path, class: "fas fa-address-card fa-5x" %>
      <p>登録情報更新</p>
    </div>
    <div class="col-md-1"></div>
  </div>

<% else %>

 <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-2" style="height:130px;">
      <%= link_to "", asobis_path, class: "fas fa-dice fa-5x" %>
      <p>遊びを見る</p>
    </div>
    <div class="col-md-2" style="height:130px;">
      <a class="fas fa-sign-in-alt fa-5x" href="/members/sign_in"></a><br>
      <p>ログイン</p>
    </div>
    <div class="col-md-5"></div>
  </div>

<% end %>

</div>